/* coverage 样式重置 */
.mask {
    opacity: 0.1 !important;
}
.cover {
    z-index: 20;
}
.websit {
    display: inline-block;
    font-size: 30px;
    margin-left: 12px;
    color: white;
    vertical-align: middle;
    border-radius: 50%;
}

/* scrollbar 效果重置 */
.sidebar::-webkit-scrollbar {
    width: 0px;
}
.sidebar-nav::-webkit-scrollbar {
    width: 0px;
}
.results-panel::-webkit-scrollbar {
    width: 3px;
}
.results-panel::-webkit-scrollbar-thumb,
.sidebar-nav::-webkit-scrollbar-thumb {
    background-color: #EFEFF3;
}

/* search & search result 样式重置 */
.search.search {
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}
.search .input-wrap {
    width: 100%;
    padding: 6px;
}
.search .results-panel {
    height: calc(100% - 51px);
    overflow: auto;
    width: 100%;
    padding: 6px 6px 50px;
    position: absolute;
    top: 51px;
    background-color: white;
    word-wrap: break-word;
}

/* website app name 样式重置 */
.app-name {
    background-color: #EFEFF3;
    padding: 12px 24px 12px 12px;
}
.app-name-link::after {
    content: '张芳帅的学习站';
    font-size: 0.9em;
    margin-left: 12px;
    font-weight: 400;
}

/* sidebar 样式重置 */
.sidebar-nav {
    height: calc(100% - 141px); /* 51 + 90 */
    overflow: auto;
}

/* navbar 样式重置 */
nav.app-nav {
    margin: 0 80px 0 0;
    width: calc(100% - 380px);
    background: white;
    padding: 20px 0px 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

/* 设置图标 缩小占用空间 */
nav.app-nav ul li:last-child {
    margin: 0 6px;
}

/* article 样式重置 - 会导致锚点滚动失效 */
.content {
    /* overflow: auto; */
}
